#tcrm-main{
  background-color : #fff;
}
#tcrm-watchlist {
  overflow-y: scroll;
  padding:15px;
}
.container-75vh{
  height: 75vh;
}
.case-header{
  font-size: 18px;
  margin-left: -20px;
  font-weight: bold;
}
.case-header label{
  font-weight: bold;
}
.padding-0{
  padding: 0;
}
.case-sub-title{
  color: #999999;
  font-size: 14px;
}
.case-info{
  position: relative;
  top: -10px;
}
.case-info .col-md-11 {top: 10px;}
.case-icon{
  float: left;
  margin-left: 1px;
  margin-right: 5px;
}
.case{
  display: inline-block;
  margin: 15px 0 0 0;
}
.case-indicator{
  border-radius: 3px;
  color: #fff;
  margin:2px;
  padding: 3px 15px;
}
.case-status-active{
  background-color: #35B6B9 !important;
}
.case-status-open{
  background-color: #9FC5F8 !important;
}
.case-status-awaiting{
  background-color: #BF9000;
}
.case-type-critical{
  background-color: #990000;
}
.case-type-major{
  background-color: #FF9900;
}
.case-type-minor{
  background-color:  #009E0F;
}
.case-time{
  background-color: #93C47D;
}
.less-case-time{
  background-color: #009E0F;
}
.color-black{
  color: #152029;
}
.group{
  background-image: url("https://cdn4.iconfinder.com/data/icons/social-communication/142/users-24.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.case-detail-action{
  color: #009999;
  font-size: 12px;
  margin: 3px;
  text-decoration: underline;
  cursor: pointer;
}
.case-detail{
  padding:2px;
}
.case-container{
  padding: 5px 5px 0 15px;
}

/*
.case-container:hover {
  background-color: #d2d2d2;
}
*/

.top-border{
  border-top:1px solid #d2d2d2;
}
.filter-title{
  font-size: 14px;
  font-weight: bold;
}
.filter-list{
  margin:  2px 0px 2px -15px;
}
.tcrm-case-filter div.btn-group > button {
  background-color: #f2f2f2;
  border: 1px solid #ededed;
  color: black;
  font-weight: 600;
  min-width: 155px;
  text-align: left !important;
}
.tcrm-case-filter{
 margin-top:2px;
}
#case-header-container{
  padding-bottom: 0 !important
}
#case-list-container{
  padding-bottom: 0 !important
}
#case-list-container{
  padding-top: 0 !important
}
.tcrm-case-list-header > h2 {display:inline;}
.case-dec{
  color: #7e7e7e;
  font-size: 12px;
  margin: 0;
}
.clr-bth{
  clear:both;
}
#case-grid-container{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}
/*
#case-grid-container table, th , td  {
  border: 1px solid grey !important;
  border-collapse: collapse;
  padding: 5px;
}
#case-grid-container  table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
#case-grid-container  table tr:nth-child(even) {
  background-color: #ffffff;
}
#case-grid-container table, th  {
  background-color: #f1f1f1;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#case-grid-container table, thead, tr, label{
 background-color:#DDDDDD;
}*/
.width-100{
  width:100%;
}
#case-grid-container table, th , td {
  border: 1px solid #ddd !important;
}
.tgl-btn{
  font-size: 18px;
  padding: 7px
}
#case-operation-container{
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 5px;
  color:#46818E;
  margin-top : 5px;
}
.case-operation, .case-operation:hover{
  color: #009999;
  text-decoration: none !important;
  padding: 3px 10px 3px 3px;
  font-size: 12px;
}
.case-operation i{
  font-size: 12px;
  margin-right: 3px;
}
#delete-operation{
  background-color: #46818e;
  border-radius: 3em;
  color: #fff;
  font-size: 10px;
  padding: 2px;
}
.filter-type{
  margin-left: 5px;
}
.form-group{
  margin-bottom:5px;
}
.heading {
    font-size: 26px;
    font-weight: bold;
    color: #000000;
}
.dropdown-menu li:hover{
  background-color:#cccccc;
  cursor: pointer;
}
.right-panel{
  background-color: #EEEEEE;
  padding: 5px;
  font-size: 12px;
}
.account-logo{
  padding: 10px;
  float: left;
}
.recents-colored {
    color: #009999;
}
.case-subject{
  font-size: 12px;
}
.filter-container{
  margin: 3px 0;
}
.grid{
  height: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top:0;
}

.icon-search{
  cursor: pointer;
}
.heading-sm{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.remove-attachment{
  color: #cf2a28;
  font-weight: normal;
  padding: 8px !important;
  text-align: center;
  text-decoration: none;
}
.remove-attachment:HOVER{
  cursor : pointer;
}
.padding-reverse{
  padding : 0;
}
.side-margin-0{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.modal-search{
  border-radius: 3em;
}
.modal-header{
  background-color: #45818E;
}
.even{
  background-color: #DAE4F1;
}
.account-info-container{
  padding: 2px;
}
.account-info{
  border-bottom: 1px solid #AAAAAA;
}
.assets-info{
  padding-top: 5px;
}
.assets-info-container{
  padding: 2px;
}
.right-panel-heading{
  font-size: 13px;
  font-weight: bolder;
}
.case-modal-btn{
  border-radius: 2px !important;
}
.case-ok-modal-btn{
  background-color: #45818E !important;
  border-color: #45818E !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.case-cancel-modal-btn{
  color:#FFFFFF !important;
  background-color: #555555 !important;
  border-color: #555555 !important;
  overflow: auto;
  text-overflow: ellipsis;
}
.case-title{
  color : #009999;
}
.case-title:HOVER{
  color : #009999;
  text-decoration : underline;
}
.case-assign-inactive{
  background-color : #F2F2F2;
  border-radius : 5px;
  color : #134F5C;
  padding : 2px 16px;
  border : 1px solid #E9E9E9;
  margin : 10px;
  max-width: 150px;
  text-align : center;
}
.case-assign-active:HOVER, .case-assign-inactive:HOVER{
  cursor : pointer;
}
.case-assign-active{
  color : #FFF;
  border-radius : 5px;
  background-color : #134F5C;
  padding : 2px 16px;
  margin : 10px;
  max-width: 150px;
  text-align : center;
}
.m-t-md{
  margin-top : 8px;
}
.case-assign-btn{
  background-color : #EEEEEE;
  padding: 2px 12px;
}
.margin-rev{
  margin : 0;
}
.account-desc{
  min-height: 75px;
}
