body {
  background-color: #FFF;
}
.col-md-12 {
     margin-bottom: 0;
}
.col-md-12.wizard-main {
    background-color: #FFF;
    padding-bottom: 15px;
}
#onboarding-top{
  background-color: #35B6B9;
  padding: 10px;
  color: #FFF;
  font-size: 2em;
  font-weight: 600;
}
.steps-indicator {
  background-color: #ccc;
  height: 60px;
}
.steps {padding: 20px;}
.wz-main-section {padding: 20px;}
.wz-cancel-btn {float: left;}
.wz-cancel-btn input {background-color: #DDD;}
.wz-next-btn {float: right;}
.wz-next-btn input {
  background-color: #293F51;
  color: #fff;
  margin-left: 15px;
}
.wz-btns input{
padding: 5px 30px;
}

.ob-table {
  height: 500px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.dynamicTile .col-md-3.col-sm-3{
    padding: 5px;
}
.bigicon {
    font-size: 67px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.bigicon img{
max-width:150px;
width: 100%;
}
.icontext {
    font-size: 27px;
}

.tile {
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    min-height: 100px;
    text-align: center;
  }
.selected{
background: #139213 none repeat scroll 0 0;
border-radius: 3em;
color: white;
padding: 5px;
float:left;
left:1px;
}
.data-source-alert{
  padding:6px;
}
.others-panel{
  background-color: #E8F1F2;
}
.others-panel-title{
  font-size: 14px;
}
.others-panel-body{
  padding:5px 30px;
}
.others-notification{
  padding-left:20px;
}
.selection-container{
  margin-bottom: 10px;
}
.required-triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #ff0000 transparent;
}
.left-required-triangle{
  position: absolute;
  left: 2px;
}

/* SCSS for onboarding navigation */
.onboarding-navigation {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 3px 10px;
  background: #CCC;
}

/* SCSS for case management */
.m-t-20{margin-top:20px;}

.case-management-list{
  margin:0;
  overflow-y: auto;
  max-height: 300px;
  > li{
    border-bottom:1px solid #CCC;
    padding: 15px 0;
    float: left;
    width: 100%;
    &:last-child{
      border-bottom: 0;
    }
    label{
      font-weight: normal;
      margin-bottom: 0;
    }
  .case-severities-boxes{
    padding: 8px 12px;
    border-radius: 3px;
    background: #555;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  }
  &.severities-list{
    li{
      padding: 10px 0;
    }
  }
}