<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Product</h4>
      </div>

      <form class="form-horizontal" name="ob_pm.productForm">
        <div class="modal-body">
            <div class="form-group">
              <label class="col-md-2 control-label">Product Code</label>
              <div class="col-md-5">
                <input type="text" class="form-control" ng-model="ob_pm.product.product_code" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Product Name</label>
              <div class="col-md-5">
                <input type="text" class="form-control" ng-model="ob_pm.product.product_name" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Product Description</label>
              <div class="col-md-8">
                <textarea class="form-control" row="4" ng-model="ob_pm.product.product_desc" required></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Product Category</label>
              <div class="col-md-5">
                <input type="text" class="form-control" ng-model="ob_pm.product.product_cat" required>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"  ng-click="ob_pm.add()">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
