<article class="container-fluid">
    <section class="row">
      <article class="col-md-12">
        <!-- top header starts -->
        <nav id="onboarding-top" ng-include="'views/onboarding/partials/onboarding-top.html'"></nav>
        <!-- top header ends -->
      </article>
      <article class="col-md-12 wizard-main">
        <!-- wizard starts -->
        <div id="onboarding-wizard" ng-include="'views/onboarding/partials/onboarding-wizard.html'"></div>
        <!-- wizard ends -->
      </article>
      <!--div class="col-md-12">
        PAGE
      </div-->
    </section>
</article>
